@import "./resources/assets/sass/products.scss";
@import "./resources/assets/sass/front/front";
@import "./resources/assets/sass/front/products-cart-list";
@import "./resources/assets/sass/front/dashboard-menu";

.products-cart-wrapper {
  background-color: white;
  .actions {
    @include flex-row-space-between;
    border-top: 1px solid $gray-lightest;
    > div {
      @include flex-column-center;
      text-align: center;
      min-height: 70px;
      flex-grow: 1;
      &:hover {
        background-color: $brand-info;
        cursor: pointer;
        color: white;
      }
    }
  }
}
