.front-dashboard-sub-menu {
  @include flex-row-center;
  a {
    padding: get-spacer(1, y) get-spacer(3, x);
    font-size: $font-size-sm;
    display: inline-block;
    &:hover {
      background-color: $gray-lighter;
    }
  }
}