.front-dashboard-sub-menu {
  @include flex-row-center;
  background-color: darken($front-dashboard-menu-color, 7%);
  a {
    padding: get-spacer(1, y) get-spacer(3, x);
    font-size: $font-size-sm;
    display: inline-block;
    color: white;
    &:hover,
    &.active {
      background-color: $front-dashboard-menu-color;
    }
  }
}
