$product-item-height-control: 98px;
$product-item-width-control: 100%;
$product-name-width-control: 45%;
$product-price-width-control: 10%;
$product-amount-width-control: 30%;
$product-amount-total-width-control: 10%;
$product-removal-width-control: 5%;
$totals-concept-width-control: 65%;
$totals-amount-width-control: 35%;

.products-cart-list {
  .product {
    @include flex-basis($product-item-width-control);
    @include flex-row;
    border: 1px solid $gray-lightest;
    position: relative;
    overflow: hidden;
    width: 100%;
    > div, a {
      @include flex-column-center;
      min-height: $product-item-height-control;
      &:not(.product-img) {
        padding: get-spacer(3, x);
      }
    }
    &.products-cart-list-header,
    &.products-cart-list-header-light {
      border: none;
      > div {
        padding: get-spacer(1, x);
        font-size: $font-size-sm;
        min-height: 0;
      }
    }
    &.products-cart-list-header {
      background-color: darken($front-dashboard-menu-color, 7%);
      > div {
        color: white;
      }
    }
    &.products-cart-list-header-light {
      background-color: $gray-lightest;
    }
  }
  .product-img {
    width: $product-item-height-control;
    img {
      height: auto;
      width: 100%;
    }
  }
  .product-name {
    width: $product-name-width-control;
  }
  .product-price {
    width: $product-price-width-control;
  }
  .product-amount,
  .product-amount-value {
    width: $product-amount-width-control;
  }
  .product-price,
  .product-amount-value,
  .amount-total {
    text-align: right;
  }
  .amount-total {
    width: $product-amount-total-width-control;
  }
  .product-removal {
    width: $product-removal-width-control;
    text-align: center;
    position: relative;
    &:hover {
      background-color: $brand-danger;
      cursor: pointer;
      color: white;
    }
  }
  .name,
  .price {}
  .name {}
  .price {}
}

.products-cart-list {
  .summary {
    @include flex-row-end;
    > div:first-child {
      width: 60%;
    }
  }
  .totals {
    width: 40%;
    .totals-row {
      @include flex-row;
      > div {
        padding: get-spacer(3, x);
      }
    }
    .concept,
    .amount {
      border: 1px solid $gray-lightest;
    }
    .concept {
      width: $totals-concept-width-control;
      text-align: right;
    }
    .amount {
      width: $totals-amount-width-control;
      text-align: right;
    }
  }
  .shipping-payment-details {
    padding: get-spacer(3, x);
  }
}
