$product-item-height-control: 98px;
$product-item-width-control: 100%;
$product-name-width-control: 45%;
$product-price-width-control: 10%;
$product-amount-width-control: 30%;
$product-amount-total-width-control: 10%;
$product-removal-width-control: 5%;

.products-cart-list {
  .product {
    @include flex-basis($product-item-width-control);
    @include flex-row;
    min-height: $product-item-height-control;
    border: 1px solid $gray-lightest;
    position: relative;
    overflow: hidden;
    width: 100%;
    > div {
      @include flex-column-center;
      min-height: $product-item-height-control;
      &:not(.product-img) {
        padding: get-spacer(3, x);
      }
    }
  }
  .product-img {
    width: $product-item-height-control;
    img {
      height: auto;
      width: 100%;
    }
  }
  .product-name {
    width: $product-name-width-control;
  }
  .product-price {
    width: $product-price-width-control;
  }
  .product-amount {
    width: $product-amount-width-control;
  }
  .amount-total {
    width: $product-amount-total-width-control;
  }
  .product-removal {
    width: $product-removal-width-control;
    text-align: center;
    &:hover {
      background-color: $brand-danger;
      cursor: pointer;
      color: white;
    }
  }
  .name,
  .price {}
  .name {}
  .price {}
}

.products-cart-list {
  .totals {
    @include flex-basis($product-item-width-control);
    @include flex-row-end;
    > div {
      padding: get-spacer(3, x);
      &:first-child {
        width: $product-item-height-control;
      }
      &:nth-child(2) {
        width: $product-name-width-control;
      }
      &:nth-child(3) {
        width: $product-price-width-control;
      }
    }
    .concept,
    .amount {
      border: 1px solid $gray-lightest;
    }
    .concept {
      width: $product-amount-width-control;
      text-align: right;
    }
    .amount {
      width: $product-amount-total-width-control + $product-removal-width-control;
    }
  }
}
