$top-menu-height-control: 56px;

.top-menu {
  @include flex-row-space-between;
  border-bottom: 1px solid darken($brand-info, 7%);
  background-color: $brand-info;
  .top-menu-left,
  .top-menu-center,
  .top-menu-right {
    text-align: center;
    width: 33.33%;
    > nav {
      > a, div {
        @include flex-column-center;
        min-height: $top-menu-height-control;
        padding: 0 get-spacer(3, x);
        color: white;
      }
    }
  }
  .top-menu-left {
    > nav {
      @include flex-row;
    }
  }
  .top-menu-center {
    > nav {
      @include flex-row-center;
    }
  }
  .top-menu-right {
    > nav {
      @include flex-row-end;
      a, div {
        border-right: 1px solid darken($brand-info, 7%);
        border-left: 1px solid darken($brand-info, 7%);
        &:hover {
          background-color: darken($brand-info, 7%);
        }
      }
    }
  }
  .logo {}
}
